@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #7dd3fc;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #0369a1;
    color: white;
    height: 70px;
    font-size: 50px;
    text-align: center;
    font-family: "Pixelify Sans", cursive;
}

.nav:hover {
    color: #082f49;
    cursor: default;
}

.showSelection>ul{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    color: white;
}

.showSelection>ul>li{
    list-style: none;
    margin: 0 20px;
}
.showSelection>ul>li:hover{
    color: #082f49;
}

.gameboard {
    margin: auto;
    background-color: #082f49;
    height: 515px;
    width: 515px;
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 116px 116px 116px;
    grid-template-rows: 116px 116px 116px;
    gap: 1px;
    justify-content: center;
    align-content: center;
}

.block {
    border: #0369a1 1px solid;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 50px;
    background-color:  #082f49;
}
.dialog{
    font-size: 50px;
    margin: auto;
    height: 290px;
    width: 500px;
    border: none;
    padding: 10px;
    background-color: #082f49;
    color: white;
    text-align: center;
}
.dialog::backdrop{
    background-color: #7dd4fc8e;
}
form{
    margin-top: 25px;
}
form>input{
    margin: 32px 40px;
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-family: "Pixelify Sans", cursive;
}
.playAgain{
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #0369a1;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin: auto;
    padding: 0 80px;
}
.playAgain::backdrop{
    background-color: #082f49a4;
}
.playAgain::selection{
    color: #082f49;
}
.playAgain>button{
    height: 60px;
    width: 137px;
    font-size: large;
    background-color: white;
    border: 0;
    margin-top: 20px;
    font-family: "Pixelify Sans", cursive;
}