@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "Roboto", sans-serif;
    background-color: #7dd3fc;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #0369a1;
    color: white;
    height: 70px;
    font-size: 50px;
    text-align: center;
    font-family: "Pixelify Sans", cursive;
}

.nav:hover {
    color: #082f49;
    cursor: default;
}

.showSelection>ul{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    color: white;
}

.showSelection>ul>li{
    list-style: none;
    margin: 0 20px;
}
.showSelection>ul>li:hover{
    color: #082f49;
    cursor: default;
}

.gameboard {
    margin: auto;
    background-color: #082f49;
    height: 515px;
    width: 515px;
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 116px 116px 116px;
    grid-template-rows: 116px 116px 116px;
    gap: 1px;
    justify-content: center;
    align-content: center;
}

.block {
    border: #0369a1 1px solid;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 50px;
}
.dialog{
    font-size: 50px;
    margin: auto;
    height: 290px;
    width: 400px;
    border: none;
    padding: 10px;
    background-color: #082f49;
    color: white;
    text-align: center;
}
.dialog::backdrop{
    background-color: #7dd4fc8e;
}
form{
    margin-top: 25px;
}
form>input{
    margin: 32px 40px;
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-family: "Pixelify Sans", cursive;
}