@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn, .ac ,.del{
    width: 82.4px;
    height: 68px;
    text-align: center;
    padding-top: 15px;
    background-color: #384053;
}
.btn, .ac,.del:hover{
  cursor: pointer;
}