.winPanel {
  display: flex;
  background-color: rgb(184, 18, 18);
  height: 40vh;
  width: 40vw;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#gameResult {
  display: flex;
  justify-content: center;
}
button {
  width: 10vw;
}
.gamePanel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
  top: 20vh;
}

  .losePanel {
    background-color: rgb(184, 18, 18);
    height: 20vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

