#container{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border: 2px;
    border-color: #3a4655;
    border-style: solid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 0px #444c56;
}
.inputDiv{
    background-color: #3a4655;
    width: 525px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.draw{
    padding: 0;
    margin: 0;
}
.sketch{
    background: linear-gradient(180deg,#87A0BD,#bdd3ed);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
*{
    margin: 0;
    padding: 0;
    color: #ffffff; 
    font-family: 'Montserrat', sans-serif;  
}
input{
    background-color: #425062;
    border-style: none;
}
.inputChild{
    padding: 10px;
    margin: 6px;
}
.box{
    display: flex;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
}
button{
    background-color: #404d5e;
    position: relative;
    height: 90px;
    width: 90px;
    z-index: 3;
    border-color: rgba(0, 0, 0, 0.485);
    border-style: solid;
}
